html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #531D40;
  overflow-x:hidden;
}

h1 {
  position: relative;
  z-index: 999;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;;
  font-family: 'Sacramento', cursive;
  color: #531D40;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #531D40;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #531D40;
}

a {
  color: rgb(150, 29, 108);
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #531D40;
}

p {
  line-height: 2;
}

hr {
  border: dotted 10px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    position:relative;
    z-index: 999;
    display: block;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
}

nav li a:hover {
    color: #531D40;
}

.balloon-image {
    position: absolute;
    left: calc(50% - 70.5px);
    bottom: 150px;
    animation: balloon-animation 3s infinite;
}

@keyframes balloon-animation {
    0% {
        bottom: 200px;
    }
    50% {
        bottom: 210px;
    }
    100% {
        bottom: 200px;
    }
}


.footer-link:hover {
  color: #531D40;
}

.ground {
    width: 700px;
    max-width: 100%;
    margin-bottom: -4px;
}

.description {


  margin: 0 auto;
  width: 40%
}

.programmer {
  position: relative;
  z-index: 999;
  font-weight: normal;
  margin-bottom: 250px;
}

.top-container {
  position: relative;
  background-color: #FFE3DC;
  padding-top: 50px;
  overflow-x:hidden;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #FFE3DC;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.stacktop {
  z-index: 100;
}

.top-cloud {
  position: absolute;
  right: 150px;
  bottom: 500px;
  margin-top: 100px;
  width: 200px;
  animation: cloud1-animation 60s infinite;
}

@keyframes cloud1-animation {
    0% {
        right: 10%;
    }
    25% {
        right: -15%;
    }
    25.00000000000001% {
        right: 100%;
    }
    100% {
        right: 10%;
    }
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
  width: 150px;
  animation: cloud2-animation 60s infinite;
}

@keyframes cloud2-animation {
    0% {
        left: 10%;
    }
    60% {
        left: 105%;
    }
    60.0000000000001% {
      left: -10%;
    }
    100% {
        left: 10%;
    }
}

.top2-cloud {
  position: absolute;
  right: 150px;
  bottom: 650px;
  margin-top: 100px;
  width: 175px;
  animation: cloud3-animation 60s infinite;
}

@keyframes cloud3-animation {
  0% {
      left: -15%;
  }
  100% {
      left: 105%;
  }
}

.bottom2-cloud {
  position: absolute;
  right: 150px;
  bottom: 250px;
  margin-top: 100px;
  width: 100px;
  animation: cloud4-animation 60s infinite;
}

@keyframes cloud4-animation {
    0% {
        left: -50%;
    }
    100% {
        left: 105%;
    }
}

.sun {
  position: absolute;
  left: 0;
  bottom: 80%;
  animation: sun-animation 180s infinite;
  width: 100px;
}

@keyframes sun-animation {
  0% {
  top: 20%;
  left: -7%;
}

30% {
  top: 1%;
}

100% {
  top: 20%;
  left: 101%;
}
}

.intro {
  width: 30%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.coding {
  float: left;
  margin-right: 30px;
}

.cooking {
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.project-header {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: rgb(150, 29, 108);
  font-size: 0.75rem;
  padding: 20px 0 0;
}

.flaticon-attribution {
  font-size: 0.5rem;
  margin: 0 auto;
}

.flaticon-link {
  margin: 0;
}

.btn {
    box-shadow: inset 0 1px 0 0 #a6827e;
    background: linear-gradient(to bottom, #531d40 5%, #240d1c 100%);
    background-color: #531d40;
    border-radius: 10px;
    border: 1px solid #54381e;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 24px;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
}

.btn:hover {
    background: linear-gradient(to bottom, #240d1c 5%, #531d40 100%);
    background-color: #240d1c;
    color: #EAF6F6;
}

.btn:active {
    position: relative;
    top: 1px;
}

@media (max-width: 1000px) {

    #img1,
    #img3,
    #img4 {
      display: none;
    }

    .int {
      position: static;
    }

    nav li a {
      position: static;
    }
    
    a {
      margin: 10px 20px;
    }

    .top-cloud {
        position: absolute;
        right: 150px;
        margin-top: 100px;
        width: 125px;
        bottom: 300px;
        animation: cloud1m-animation 60s infinite;
    }

    @keyframes cloud1m-animation {
        0% {
            right: 10%;
        }
        25% {
            right: -30%;
        }
        25.00000000000001% {
            right: 100%;
        }
        100% {
            right: 10%;
        }
    }


    .balloon-image {
        position: absolute;
        left: 35%;
        bottom: 110px;
        width: 150px;
        animation-name: balloon-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    @keyframes balloon-animation {
        0% {
            bottom: 110px;
        }
        50% {
            bottom: 120px;
        }
        100% {
            bottom: 110px;
        }
    }

    .bottom-cloud {
        position: absolute;
        left: 150px;
        bottom: 200px;
        width: 100px;
        animation: cloud2m-animation 60s infinite;
    }

    @keyframes cloud2m-animation {
        0% {
            left: 10%;
        }
        60% {
            left: 105%;
        }
        60.0000000000001% {
          left: -30%;
        }
        100% {
            left: 10%;
        }
    }

    .ground {
        width: 700px;
        max-width: 100%;
        margin-bottom: -4px;
    }

    .footer-link {
      margin: 3%;
    }

}
